@import '../App.css';


/* Add styles for the DataGrid component */
.MuiDataGrid-root {
    background-color: #8096ac; /* Background color for the table header */
    color: rgb(0, 0, 0); /* Text color for the table header */
}

/* Add styles for the pagination */
.MuiDataGrid-pagination {
    background-color: #8699ae; /* Background color for pagination */
    color: rgb(0, 0, 0); /* Text color for pagination */
}

/* Style the pagination buttons */
.MuiDataGrid-iconSeparator {
    color: rgb(98, 71, 71); /* Color for pagination buttons */
}

/* Style the selected pagination page */
.Mui-selected {
    background-color: #3f51b5; /* Background color for selected pagination page */
    color: white; /* Text color for selected pagination page */
}

/* Style the hover effect on pagination buttons */
.MuiDataGrid-iconSeparator:hover {
    color: #3f51b5; /* Hover color for pagination buttons */
}

/* Add styles for page number and arrow marks */
.MuiPaginationItem-page {
    color: white; /* Text color for page numbers */
    font-weight: bold; /* Make page numbers bold */
}

.MuiDataGrid-iconSeparator svg {
    fill: white; /* Color for arrow marks */
}
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
    color: rgb(0, 0, 0); /* Text color for "Rows per page" and page range */
}
  

.table-container {
    color: rgb(0, 0, 0);
    height: 100%;
    /* margin: 1rem 3rem 1rem 0rem; */
 }

@media (min-width : 320px) {

    .table-container {
        width: 180% !important;
    }
}

@media (min-width : 375px) {

    .table-container {
        width: 200% !important;
    }
}

@media (min-width : 768px) {

    .table-container {
        width: 100% !important;
    }
}


@media (min-width : 425px) {

    .table-container {
        width: 155% !important;
    }
}

@media screen and (min-width : 1024px) {

    .table-container {
        width: 100% !important;
    }
} 

.assign-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button {
    text-decoration: underline;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}