@import '../App.css';

.data-table-container {
    width: 80% !important;
}

@media (min-width:320px) {
    .statistic-container {
        width: 60% !important;
    }
}
@media (min-width:768px) {
    .statistic-container {
        width: 100% !important;
    }
}