@import '../App.css';

.table-container {
    color: white;
    height: 100%;
    /* margin: 1rem 3rem 1rem 0rem; */
 }

@media (min-width : 320px) {

    .table-container {
        width: 180% !important;
    }
}

@media (min-width : 375px) {

    .table-container {
        width: 200% !important;
    }
}

@media (min-width : 768px) {

    .table-container {
        width: 100% !important;
    }
}


@media (min-width : 425px) {

    .table-container {
        width: 155% !important;
    }
}

@media screen and (min-width : 1024px) {

    .table-container {
        width: 100% !important;
    }
} 

.assign-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button {
    text-decoration: underline;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}