/* login.css */

/* Body Styles */
body {
    background-color: #f0f0f0; /* Light gray background */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Container Styles */
  .login-container {
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Form Styles */
  .form-container {
    text-align: center;
  }
  
  .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Dark text color */
  }
  
  .login-input-element {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px;
    background-color: #f5f5f5; /* Light gray input background */
    font-size: 14px;
    color: #333;
  }
  
  .login-input-element::placeholder {
    color: #999; /* Light gray placeholder text */
  }
  
  .login-error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Button Styles */
  .login-button {
    text-align: center;
  }
  
  .submit-button {
    background-color: #007bff; /* Blue submit button */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submit-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Eye Icon Styles */
  #show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666; /* Gray color */
  }
  
  #show-password:hover {
    color: #333; /* Dark gray on hover */
  }
  #show-password {
    position: relative;
    top: -50px; 
    right: -100px; 
    cursor: pointer;
    color: #666; /* Gray color */
  }
  
  #show-password:hover {
    color: #333; /* Dark gray on hover */
  }
  